image: docker:latest

services:
  - docker:dind

stages:
  - build
  - test

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - docker info

build:
  stage: build
  script:
    - docker build -t selvaraj/docker-react -f Dockerfile.dev .

test:
  stage: test
  script:
    - docker run -e CI=true selvaraj/docker-react npm run test
